.small-box-red, .small-box-yellow, .small-box-gray, .small-box-blue {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

nav, p {
  margin: 0 auto;
  display: block;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

nav {
  width: 550px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  float: left;
  display: block;
}

nav li li {
  float: none;
  display: none;
}

nav li li a:hover {
  background-color: red;
}

nav li ul {
  position: absolute;
}

nav li:hover li {
  display: block;
}

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  background-color: green;
  color: white;
}

nav a:hover {
  color: blue;
}

#header {
  height: 150px;
}

h1 {
  font-size: 28px;
  color: yellow;
}

h2 {
  font-size: 21px;
  color: yellow;
}

a {
  color: white;
}

p {
  width: 200px;
  height: 100px;
  background-color: red;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(red));
  background-image: -webkit-linear-gradient(left, white, red);
  background-image: -moz-linear-gradient(left, white, red);
  background-image: -ms-linear-gradient(left, white, red);
  background-image: -o-linear-gradient(left, white, red);
  background-image: linear-gradient(left, white, red);
  background-repeat: repeat-x;
  clear: left;
  font-size: nameOfFunction(15px);
}

.success, .error, .warning {
  padding: 10px;
  width: 150px;
  text-align: center;
  color: #444;
}

.success {
  border: 2px solid green;
}

.error {
  border: 2px solid red;
}

.warning {
  border: 2px solid orange;
}

.image {
  width: 18%;
  margin-right: 2%;
  float: left;
  background-color: #ececec;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.image:nth-child(5n) {
  margin-right: 0;
}

@media (max-width: 640px) {
  .image {
    width: 45%;
    margin-right: 5%;
  }
  .image:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .image {
    width: 22%;
    margin-right: 3%;
  }
  .image:nth-child(4n) {
    margin-right: 0;
  }
}

@media (min-width: 1201px) {
  .image {
    width: 18%;
    margin-right: 2%;
  }
  .image:nth-child(5n) {
    margin-right: 0;
  }
}

.image .image-description {
  color: #555;
}

.image img {
  width: 100%;
}

.small-box-red {
  color: red;
}

.small-box-yellow {
  color: yellow;
}

.small-box-gray {
  color: gray;
}

.small-box-blue {
  color: blue;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 39px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 31px;
}

h5 {
  font-size: 27px;
}

h6 {
  font-size: 23px;
}

.something_else {
  font-size: 19px;
}
