@mixin center()
{
  margin: 0 auto;
  display: block;
}

@mixin horizontalGradient($startColor: $color-white, $endColor: $color-red) {
    background-color: $endColor;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $endColor);
    background-image: -moz-linear-gradient(left, $startColor, $endColor);
    background-image: -ms-linear-gradient(left, $startColor, $endColor);
    background-image: -o-linear-gradient(left, $startColor, $endColor);
    background-image: linear-gradient(left, $startColor, $endColor);
    background-repeat: repeat-x;
}

@mixin generateRow($number-of-images, $image-margin)
{
  width: ((100% - ($image-margin * $number-of-images)) / $number-of-images );
  margin-right: $image-margin;

  &:nth-child(#{$number-of-images}n)
  {
    margin-right: 0;
  }
}

@mixin small-box($color)
{
  .small-box-#{$color}
  {
    @extend %small-box;
    color: $color;
  }
}
