$header-size: 28px;
$header-height: 150px;

$color-yellow: yellow;
$color-red: red;
$color-white: white;


$header-color: $color-yellow;
$link-color: white;

//NAVIGATION

$link-nav-color-default: green;
$link-nav-color-hover: blue;
$link-nav-bg-color-hover: red;
