@import "_mixins.scss";
@import "_placeholders.scss";
@import "_variables.scss";
@import "_functions.scss";
@import "_nav.scss";
@import "_functions.scss";


#header
{
    height: $header-height;
}
h1{
   font-size: $header-size;
   color: $header-color;
}
h2{
   font-size: $header-size - 7px;
   color: $header-color;
}

a
{
    color: $link-color;
}

p {
  width: 200px;
  height: 100px;
  @extend %textOverflow;
  @include horizontalGradient();
  clear: left;
  @extend %center;
  font-size: nameOfFunction(15px);
}

%message
{
  padding: 10px;
  width: 150px;
  text-align: center;
  color: #444;
}


.success {
  border: 2px solid green;
  @extend %message;
}

.error {
  border: 2px solid red;
  @extend %message;
}

.warning {
  border: 2px solid orange;
  @extend %message;
}

$number-of-images: 4;
$image-margin: 2%;

.image
{

  @include generateRow(5, 2%);
  float: left;
  background-color: #ececec;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  box-sizing: border-box;

  @media (max-width: 640px)
  {
    @include generateRow(2, 5%);
  }

  @media (min-width: 641px) and (max-width: 1200px)
  {
      @include generateRow(4, 3%);
  }

  @media (min-width: 1201px)
  {
    @include generateRow(5, 2%);
  }

  .image-description
  {
    color: #555;
  }

  img
  {

    width: 100%;
  }
}

@include small-box(red);
@include small-box(yellow);
@include small-box(gray);
@include small-box(blue);

// @for $i from 1 to 7
// {
//   h#{$i}
//   {
//     font-size: 55px - $i * 4;
//   }
// }

$header-list: h1 h2 h3 h4 h5 h6 '.something_else';

@each $current-header in $header-list
{
  $i:index($header-list, $current-header) + 2;
  #{$current-header}
  {
    font-size: 55px - $i * 4;
  }
}
